#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #cfcfcf;
}

/* LOGIN STYLES */
.welcomeContainer {
  display: flex;
}
.titleContainer {

}
.loginContainer {
  background-color: rgb(232, 232, 232);
  padding: 10px 30px;
}
.emailContainer {
  margin: 0 0 20px 0;
}
.passwordContainer {

}
.emailContainer , .passwordContainer, input {
  font-size: 17px;
  padding: 4px 16px;
  border-radius: 3px;
  outline: none;
}